.footer{
    background-color: #030303;
    height: 60px;
    padding: 20px;
    color: #c4c4c4;
    text-align: center;
}

/* Media queries*/
@media (max-width: 480px) {
    .footer{
        font-size: 14px;
    }
}